* {
  margin: 0px auto;
  padding: 0px;
  text-align: center;
}

.background-container{
	background-image: url(../img/glenn-carstens-peters-190592.jpg);
	background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
	height: 100vh;
	width: auto;
}

.box{
	background-color: rgba(250,244,227,0.7);
}

h1, h4{
	font-family: 'Patrick Hand SC', cursive;
}

.box input ul{
	font-family: 'Josefin Sans', sans-serif;
}

[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    position: relative;
    left: 0px;
    opacity: 1;
}

.remove {
    padding: 0px;
    padding-right: 15px;
    margin-left: 10px;
}

input[type="checkbox"]:checked + span{
  text-decoration: line-through;
  color: rgba(0,0,0,.3);
}

input::-webkit-input-placeholder {
  color: #666666;
}

